<footer class="footer">
    <div class="footer__seccion1">
        <img src="/img/LogocutSinFondo2.png ">
        {{!-- <p>&#169; Derechos reservados</p> --}}
    </div>
    <div class="footer__seccion2">
        <h5>Contacto:</h5>
        <P>Telefono:<br>+(057) 320 888 5012</p>
        <p>Direcci&#243;n:<br>- Centro Comercial San Juan Plaza Local 315<br>- Calle 50 #18-23 Álamos Norte </p>
    </div>
    <div class="footer__seccion3">
        <h5>Enlaces:</h5>
        <a href="#">Pol&#237;ticas de privacidad </a>
        <a href="#">T&#233;rminos y condiciones</a>
    </div>
    <div class="footer__seccion4">
        <h5>Horarios de atenci&#243;n:</h5>
        <P>Lunes a Domingos:<br> 1 pm - 10 pm</p>
    </div>
    <div class="footer__seccion5">
        <p>&#169; Derechos reservados</p>
    </div>
</footer>