<main class="main_crear-usuario">  

    <form action="/crear-cuenta" method="post" class="formulario-crear-usuario">
        <h2 class="crear-usuario__texto ">Crear usuario: </h2>

        <div class="formulario-crear-usuario__grupo">

            <input type="text" name="nombre" class="formulario-crear-usuario__input" placeholder="Tu Nombre">
        </div>

        <div class="formulario-crear-usuario__grupo">

            <input type="text" name="email" class="formulario-crear-usuario__input" placeholder="Tu E-mail">
        </div>

        <div class="formulario-crear-usuario__grupo">

            <input type="password" name="password" class="formulario-crear-usuario__input" placeholder="Tu Password">
        </div>

        <div class="formulario-crear-usuario__grupo">

            <input type="password" name="confirmar" class="formulario-crear-usuario__input"
                placeholder="Confirmar password">
        </div>

        <button type="submit" class="formulario-crear-usuario__btn">Crear Cuenta</button>
        <a class="" href="/iniciar-sesion">Iniciar Sesión</a>

    </form>

</main>